body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh 4vw;
    gap: 4vw;
}

button {
    font-size: 18px;
    padding: 20px 40px;
    margin: 8px;
}

.interface {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 5%;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 0.1vh solid black;
    width: fit-content;
    max-height: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.cell {
    height: 4vh;
    width: 4vh;
    flex: 1;
    border: 0.1vh solid black;
}